<h1>Help</h1>
<p>
  Get help on <%= @base_title %> at the
  <a href="http://railstutorial.org/help"><%= @base_title %></a>.
  To get help on this sample app, see the
  <a href="http://railstutorial.org/book">Rails Tutorial book</a>.
</p>
